
.cabecalho {
    text-align: center;
}

.imagem_logo {
    display: inline-block;
    width: 10%;
    height: auto;
    margin-bottom: 5px;
}

.titulo_principal {
    margin: 0;
    margin-bottom: 50px;
}

.opcao_menu{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.menu_opcao_equipe {
    font-size: 22px;
    color: orangered;
    background-color: black;
    width: 50%;
    height: 50px;   
}

.area_texto_geral {
    display: flex;
    justify-content: center;
}

.area_texto {
    padding: 10px;
    width: 50%;
    height: 350px;
    font-size: 22px;
}

.area_texto::placeholder {
    text-align: left;
    display: block;
}

.botao_enviar {
    display: flex;
    justify-content: space-around;
}

.botao_de_envio {
    width: 10%;
    height: 25px;
    background-color: black;
    color: orangered;
    border: 0;
}

.equipes_um {
    margin-top: 30px;
    margin-left: 25%;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.equipe_um_titulo {
    padding: 20px 100px;
    background-color: black;
    color: orangered;
}

.equipe_dois_titulo {
    padding: 20px 100px;
    background-color: black;
    color: orangered;
}
